<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    Counter
    {{ range .counter }}
      <li> {{ .Name }} {{ .Value }} </li>
    {{ end }}
  </ul>
  <hr/>
    <ul>
    Gauge
    {{ range .gauge }}
      <li> {{ .Name }} {{ .Value }} </li>
    {{ end }}
  </ul>
</body>
</html>